<h1>You fell in love with: <%= thingVar.toUpperCase() %></h1>

<% if(thingVar.toLowerCase() === "neil"){ %>
    <p>Good choice! Neil is the best!</p>
<% } else{ %>
    <p>Bad choice! You should have said Neil!</p>
<% } %>

<p>P.S. this is the love.ejs file!</p>